* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
}

#top {
    width: 100%;
    min-height: 60vh;
    background-image: url("sport\ img.avif");
    background-size: cover;
    background-position: 50% 40%;
}

#overlay {
    width: 100%;
    min-height: inherit;
    background-color: rgba(16, 16, 16, 0.4);
    position: relative;

}

#text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    bottom: 20%;
    padding: 0 10vw;
}

#textright {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

#icon {
    display: flex;
    color: white;
    width: 105px;
    gap: 14px;
}

#textright p {
    color: white;
    font-size: 0.9em;
    width: 40%;
}

#text h1 {
    font-size: 6em;
    font-weight: 450;
    color: white;
}

#bottom {
    width: 100%;
    min-height: 40vh;
    background-color: rgb(16, 66, 245);
    display: flex;
}

#bone {
    width: 25%;
    min-height: inherit;
    background-color: rgb(255, 255, 255);
    padding: 30px;

}

#bone p {
    margin-top: 9px;
    font-size: 0.8em;

}

#btwo {
    width: 25%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1655890938539-7257cdd5ea34?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    min-height: inherit;
}

#bthree {
    width: 15%;
    height: 100%;
    background-color: rgb(234, 43, 148);
    min-height: inherit;
}

#bthreetop {
    width: 100%;
    min-height: 20vh;
    background-color: orangered;
    padding: 5px;
    color: white;
}

#bthreetop p {
    margin-top: 5px;
    font-size: 0.8em;
}

#bthreebottom {
    width: 100%;
    min-height: 20vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1684820878202-52781d8e0ea9?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    min-height: 20vh;

}

#bfour {
    width: 35%;
    height: 100%;
    background-color: rgb(44, 43, 43);
    padding: 30px;
    color: white;
    min-height: inherit;
}

.notf {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.notf #photo {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.notf p {
    width: 90%;
    font-size: 12px;
}

@media(max-width:500px) {
    #overlay #text {
        flex-direction: column;
        align-items: flex-start;
    }

    #text h1 {
        font-size: 10vw;
    }

    #overlay #text #textright {
        flex-direction: column;
        align-items: flex-start;
    }

    #overlay #text #textright p {
        width: initial;
        margin-top: 20px;

    }

    #overlay #text #textright #icon {
        margin-top: 30px;

    }

    #bottom {
        flex-direction: column;
    }

    #bone {
        width: 100%;
    }

    #btwo {
        width: 100%;
    }

    #bthree {
        flex-direction: column;
        width: 100%;
    }

    #bfour {
        width: 100%;
    }

    #bottom {
        min-height: 20vh;
    }
    #bthreebottom{
        min-height: 40vh;
    }
}